/* list of styling classes:
black
border
left
center
around 
tenEm
main-size
fiftyWidth*/


/* Generic Styling */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Karantina", sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    /* background-color: rgb(135, 79, 79); */
    background-color: black;
}

.black {
    background: black;
}

.border {
    border: 3px solid white;
}

#money {
    display: none;
}

#health {
    font-size: 3em;
    text-align: center;
}

.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.tenEm {
    font-size: 10em;
}

.main-size {
    font-size: 3em;
}

.midsize {
    font-size: 4em;
}

.small-txt {
    font-size: 2em;
}

/* Universal */
.text-container {
    height: 15em;
    margin-bottom: .2em;
}

.wrapper {
    height: 100vh;
}

#home-page {
    margin-top: 5em;
}

#home-page .button-container,
#home-page .npc-buttons {
    animation: fadein .5s forwards;
}

#home-image img {
    animation: fadein .5s forwards;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.statictalkcont{
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.button-container-home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.butcolumn {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
}

.butcolumn button {
    width: 100%;
}

.loadEndBtn {
    margin-bottom: 2em;
}

.loadEndBtn:hover {
    text-decoration: underline;
}

.loadEndBtn::after {
    color: white;
}

button {
    width: 20%;
    padding: .2em;
}

button:hover {
    background-color: white;
    color: black;
}

.fiftyWidth {
    width: 50%;
}

.seventyWidth {
    width: 70%;
}

.row .column {
    width: 15%;
    align-items: center;
    justify-content: flex-start;
}

.centersize {
    width: 50%;
}

.sideIcons {
    margin-top: 1em;
}

/* Load Page */
.load-page {
    background-image: url(BackgroundImages/landbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    height: 100%;
}

.load-page h1 {
    text-shadow: 15px 0 black;
}

.title {
    margin-top: 1.5em;
}

/* Home Page */
.home-page {
    height: 100%;
    margin-top: 3em;
}

.home-page img {
    width: 50%;
}

.image-container {
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#transparent {
    width: 100%;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 97%;
    padding: .3em;
    font-weight: 300;
}

/* .text-container::-webkit-scrollbar {
    width: 2px;
}

.text-container::-webkit-scrollbar-thumb{
    background-color: white;
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px 10px transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px white;
    border: solid 2px transparent;
}

.name-container {
    font-size: 3em;
}

/* Inventory Page */
.backIcon {
    width: 6rem;
    margin: 0;
}

.inventory * {
    margin: 0;
}

.inventory {
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 70vh;
}

.inventory::-webkit-scrollbar {
    display: none;
}

.inventory-container {
    width: 100%;
}

.invItem {
    width: 95%;
    margin: .5em;
    padding: .5em;
    flex-wrap: nowrap;
}

.invItem .column {
    align-self: flex-start;
    margin: 1em 0 0 1em;
    align-items: flex-start;
    width: 50%;
}

.invItem .column p {
    margin-top: .7em;
}

.invItem .row {
    flex-wrap: nowrap;
}

.invItem img {
    width: 25%;
}

.objHold {
    justify-content: flex-start;
}

.valHold {
    margin-right: 1em;
    align-self: center;
}

/* Map Page */
.map {
    display: flex;
    justify-content: center;
}

.map img {
    width: 100%;
}

.locIcon {
    width: 6rem;
    margin: 0;
}

/* Ending Page */
.ending {
    align-items: center;
}

.endImg {
    width: 45%;
}

#end-btn {
    text-decoration: underline;
}

#end-btn:hover {
    color: red;
}

.endingMessage {
    margin: .5em 0 .5em 0;
}

.endingMessage p{
    font-weight: 300;
}

.endHead {
    margin: .3em;
}

.summary {
    padding: 1em;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Background Classes */
/* CART */
.mrMog {
    background-image: url(mr-mog.png);
}

.web {
    background-image: url(BackgroundImages/inWeb.png);
}

.galleryEntry {
    background-image: url(BackgroundImages/CART_gallery.png);
}

.stairs {
    background-image: url(BackgroundImages/stairs.png);
}

.hall {
    background-image: url(BackgroundImages/hall.png);
}

.multimedia {
    background-image: url(BackgroundImages/inmm.png);
}

.atrium {
    background-image: url(BackgroundImages/atrium.png);
}

.english {
    background-image: url(BackgroundImages/english.png);
}

.ux {
    background-image: url(BackgroundImages/ux.png);
}

.janitor {
    background-image: url(BackgroundImages/janitor-closet.png);
}

/* SV */
/* Indoors */
.indoorEntry {
    background-image: url(BackgroundImages/SV_mall_hallway.png);
}

.gamestopEntry {
    background-image: url(BackgroundImages/SV_gamestop.png);
}

.gamestop {
    background-image: url(BackgroundImages/SV_gamestop_inside.png);
}

.evolutionEntry {
    background-image: url(BackgroundImages/SV_evolution.png);
}

.evolution {
    background-image: url(BackgroundImages/SV_evolution_inside.png);
}

.outsideGal {
    background-image: url(BackgroundImages/outside.png);
}

/* Outdoors */

.outdoorEntry {
    background-image: url(BackgroundImages/SV_outside_hallway.png);
}

.theaterEntry {
    background-image: url(BackgroundImages/SV_theater.png);
}

.mallEntry{
    background-image: url(BackgroundImages/SV_mall_hallway.png);
}

.blartPoster {
    background-image: url(BackgroundImages/blart-mall.png);
}

.minecraftPoster {
    background-image: url(BackgroundImages/minecraft-mall.png);
}

@keyframes redFlash {
    from {
        color: white;
    }

    to {
        color: red;
    }
}

.redFlash {
    color: red;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadein 2s forwards;
}

/* Mobie Compatibility */
@media only screen and (max-width: 600px) {

    /* .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .text-container{
        height: 15vh;
    }

    #home-page{
          margin-top: 0; 
    }

    .mobile-column{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    /* Universal font sizes */
    .tenEm {
        font-size: 3.5em;
    }

    .main-size {
        font-size: 1.7em;
    }

    .midsize {
        font-size: 2em;
    }

    .small-txt {
        font-size: 1.3em;
    }

    .name-container {
        font-size: 2em;
    }

    #health {
        font-size: 1em;
        text-align: left;
        margin: 0 .3em 0 .3em;
    }

    #money {
        font-size: 2em;
        display: none;
    }

    .button-container-home {
        font-size: 3em;
    }

    .button-container.buttons{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .buttons button{
        width: 100%;
        margin: .04em;
    }


    /* Icon sizing */
    /* .locIcon {
        width: 3rem;
    }

    .backIcon {
        width: 3rem;
    } */

    /* Fixing content sizing*/
    /* .image-container img {
        width: 95%;
    }

    .button-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 90%;
        margin: .2em 0 .2em 0;
    }

    .centersize {
        width: 70%;
    } */

    /* load page styling */

    .load-page.column {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .title {
        margin: 6em 0 0 1em;
    }

    .button-container-home .loadEndBtn {
        margin-top: 2.5em;
        text-decoration: underline;
    }

    /* #home-page{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    } */

    .buttons{
        width: 90%;
    }


    .butcolumn{
        width: 100%;
    }


    #atGallery{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    #atGallery #interact{
        width: 70%;
    }


    #contBtn1{
        width: fit-content;
    }

    .npc-buttons{
        margin: 0 0 0 2.02em;
    }

    .buttons::after{
        background-color: inherit;
        color: inherit;
    }

    /* Inventory Styling */

    .inventory {
        width: 70%;
    }

    .invItem{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .invItem .row{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .invItem img{
        width: 100%;
    }

    .objHold .left{
        text-align: center;
        margin: 0 0 0 .3em;
        width: 95%;
    }

    .valHold {
        margin: 0;
        margin-top: .5em;
        align-self: center;
    }


    .valHold {
        margin: 0;
    }

    /* Ending Screen */

     .ending h1 {
        font-size: 6em;
    }

    .endingMessage {
        font-size: 1.4em;
    }

    .endImgCont {
        width: 100%;
    }

    .endImgCont img {
        width: 50%;
    }

    .seventyWidth {
        width: 80%;
    }

    .fiftyWidth {
        width: 80%;
    } 

    .hidden{
        display: none;
    }
}


/* laptop sizing */
@media only screen and (max-width: 2200px) and (min-width: 600px){

    /* end screen siziing */
    .tenEm {
        font-size: 7em;
    }

    .endHead {
        font-size: 1em;
    }

    .endingMessage p {
        font-size: .7em;
    }

    .summary {
        width: 70%;
    }

    .ending h2 {
        margin-top: .5em;
    }

    /* main interface sizing */

    .text-container {
        height: 20%;
    }

    .map img {
        width: 55%;
    }

    .home-page {
        margin: 0;
    }

    .inventory {
        margin-top: 1em;
    }
}