/* list of styling classes:
black
border
left
center
around 
tenEm
main-size
fiftyWidth*/


/* Generic Styling */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Karantina", sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    /* background-color: rgb(135, 79, 79); */
    background-color: black;
}

.black {
    background: black;
}

.border {
    border: 3px solid white;
}


.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.tenEm {
    font-size: 10em;
}

.main-size {
    font-size: 3em;
}

.midsize {
    font-size: 4em;
}

.small-txt {
    font-size: 2em;
}

/* Universal */
.text-container {
    height: 15em;
    margin-bottom: 1em;
}

.wrapper {
    height: 100vh;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.loadEndBtn {
    margin-bottom: 2em;
}

.loadEndBtn:hover {
    text-decoration: underline;
}

.loadEndBtn::after {
    color: white;
}

button {
    width: 30%;
    padding: .5em;
}

.fiftyWidth {
    width: 50%;
}

.seventyWidth {
    width: 70%;
}

/* Load Page */
.load-page {
    background-image: url(BackgroundImages/landbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    height: 100%;
}

.load-page h1 {
    align-self: left;
    text-shadow: 15px 0 black;
}

.title {
    margin-top: 1.5em;
}

/* Home Page */
.home-page {
    height: 100%;
    margin-top: 3em;
}

.image-container {
    height: 70%;

    /* Maybe change width to be fit-content? */
    width: 50%;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
}

.row .column {
    width: 15%;
    align-items: center;
    justify-content: flex-start;
}

.text-container {
    width: 97%;
}

.name-container {
    width: fit-content;
    margin: 0;
    font-size: 2.5em;
    /* Add something here to make to get name positioned correctly */
}

/* Inventory Page */
.backIcon {
    width: 6rem;
    margin: 0;
}

/* Map Page */
.map img {
    width: 100%;
    height: 100%;
}

.locIcon {
    width: 6rem;
    margin: 0;
}

/* Ending Page */
.ending {
    align-items: center;
    margin-top: 2em;
}

.endImg {
    width: 30%;
}

#end-btn {
    text-decoration: underline;
}

#end-btn:hover {
    color: red;
}

.endingMessage{
    margin: .5em 0 .5em 0;
}

#endHead{
    margin: .3em;
}

/* Hidden Class */
.hidden {
    display: none;
}